<!--cookie consent pop up partial-->
<div id="consent-popup" class="hidden cookie-container">
    <span class="close-btn">&times;</span>
    <img src="/images/cookie.png" style="width: 80px; height:80px" alt="">
    <h3>Cookies and Privacy</h3>
    <p>This website uses cookies to ensure optimal user experience on our website</p>
    <a href="#" id="accept">Accept Cookies</a>
    <p style="font-size: 8px;">By using this site you agree and have read our <a href="/legal/privacyPolicy">Privacy Policy</a>
 </div> 

<script src="/javascripts/cookieConsent.js"></script>
