 <!--website footer partial-->
<section class="light-footer py-5">
   <div class="container-fluid py-5">
     <div class="row py-5 px-3">
       <div class="col-4">
           <h3 class="footer-signature pt-5 px-3" style="color: rgba(0, 0, 0, 0.465);">Shirley's Art Studio</h3>
           <br>
        </div>
        <div class="col-5 py-3">
          <div class="row">
             <div class="col">
                <a class="py-2" href="/about" style="font-size: 18px;">Home</a><hr>
                <div class="row py-2">
                   <a href="/about">About</a>
                   <a href="/contact">Contact</a>
                   <!-- <a href="/checkout">Cart</a> -->
                  </div>
               </div>
               <div class="col">
                 <a class="py-2" href="/gallery" style="font-size: 18px;">Gallery</a><hr>
                 <div class="row py-2">
                    <a href="/gallery/landscape">Landscape</a>
                    <a href="/gallery/seascape">Seascape</a>
                    <a href="/gallery/floral">Floral</a>
                 </div>
               </div>
           </div>
         </div>
         <div class="col-3">
           <h1 class="text-center" style="font-size: 1.3vw;color: rgba(166, 166, 166, 0.875);">Secure Payments</h1>
           <div class="row">
           <div class="col text-center py-3 my-3">
               <img src="/images/stripe.png" class="img-fluid mx-3" style="width: 40px;height:40px;">
               <img src="/images/visa.png" class="img-fluid" style="width: 40px;height:40px;">
               <img src="/images/google-pay.png" class="img-fluid mx-3" style="width: 40px;height:40px;">
               <img src="/images/apple-pay.png" class="img-fluid" style="width: 40px;height:40px;">
           </div>
         </div>
      </div>
   </div>
   <div class="text-center">
      <a href="https://www.layerlabs.io"><img src="/images/layerLabsIcon.png" class="img-fluid" style="width: 30px; height:30px">
      <span class="py-2 px-2" id="layerLabs" href="https://www.layerlabs.io" style="font-size: 10px;">Created & Designed by Layerlabs.io</span></a>
   </div>
   <hr>
   <div class="container-fluid">
   <div class="row container-fluid pt-3">
      <div class="col">
         <p style="font-size: 10px; font-weight: bold;">© 2022 Shirley's Art Studio. All rights reserved.</p>
      </div>
      <div class="col text-end" style="font-size: 10px;">
         <a class="px-4" href='/legal/privacyPolicy'>Privacy Policy</a>
         <a href="/legal/termsAndConditions">Terms of Use</a>
         <a class="px-4" href="/legal/sales-and-refunds">Sales & Refunds</a>
      </div>
   </div>
   </div>
</div>
</section>